/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


:root {
  --black: #000000;
  --white: #ffffff;
  --bg: #fafafa;
  --btn_or: #f35923;
  --btn__hover: #db5020;
  --blue: #3c81ed;
  --blue__bg: #a1c1f5;
  --dark: #26262d;
  --icon_r: #f16938;
  --icon_r_bg: #fbd3c7;
  --icon_y: #fbd32a;
  --icon_y_bg: #fff3c9;
  --icon_g: #299729;
  --icon_g_bg: #bce0bc;
  --grey: #5e5e5e;
  --grey_clear: #f1f3f5;
}

/*
 * 
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.body {
  background-color: var(--white);
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }
}

/***********************************BTN*********************************/
.btn__orange {
  color: var(--white) !important;
  background-color: var(--btn_or);
  border-radius: 60px;
  padding: 0.6rem 2rem;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn__orange:hover {
  background-color: var(--btn__hover);
}

.choose__btn .btn__orange i {
  margin-left: 1rem;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .btn__orange {
    padding: 1.1rem 5rem;
    font-size: 20px;
  }
}

/**********************************NAV*********************************/
.nav__desktop {
  display: none;
}

.img__nav img {
  width: 30%;
  margin: 1rem;
}

@media (min-width: 500px) {
  .img__nav img {
    max-width: 145px;
  }
}

.hamburger {
  position: fixed;
  background-color: transparent;
  right: 5%;
  top: 2%;
  height: 30px;
  width: 30px;
  position: right;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.hamburger.is-active {
  background-color: none;
}

._layer {
  background: var(--btn_or);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
  opacity: 0;
}

.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}

.menuppal {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}

.menuppal ul {
  margin: 3.5rem;
  padding: 0;
}

.menuppal ul li {
  list-style: none;
  text-align: center;
  /*color:$nav-color-text;*/
  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;
  color: var(--blue);
  text-transform: none;
  font-weight: bold;
}

.menuppal ul li a {
  text-decoration: none;
  color: var(--blue);
  font-family: 'Source Sans Pro', sans-serif;
}

.menuppal ul li a:hover {
  text-decoration: none;
  color: var(--btn_or);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav__desktop {
    display: block;
  }

  .nav__desktop ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 5% 10px 10%;
  }

  .nav__desktop li>a {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-left: 20px;
  }

  .nav__desktop .btn__orange {
    padding: 5px 30px;
    font-size: 13px;
  }
}

/*******************************HEADER********************************/

.header__area {
  max-width: 100vw;
  max-height: 100%;
  border-top: solid 1px var(--btn_or);
  background-color: var(--white);
}

.header__area h1 {
  font-size: 20px;
  color: var(--dark);
  margin: 10%;
}

@media (min-width: 768px) {
  .header__area h1 {
    font-size: 40px;
    margin: 8%;
  }

  .header__area p {
    font-size: 25px;
  }
}

.header__area span {
  border: solid 1px var(--btn_or);
  border-radius: 60%;
  padding: .1rem;
  margin: 0rem;
}

.header__area p {
  color: var(--grey);
  margin: 10% 10% 12%;
}

.header__area img {
  max-width: 80%;
  padding: 0% 10%;
}

.header__area .header__btn {
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .header__area .header__btn {
    padding-bottom: 8%;
  }
}

/**Desktop*/
@media (min-width: 1024px) {
  .header__area {
    display: flex;
    justify-content: space-around;
  }

  .header__text {
    margin: 1% 1%;
    padding: 5% 2% 1%;
  }

  .header__area h1 {
    font-size: 35px;
    margin: 5% 7%;
  }

  .header__img {
    width: 600px;
    margin: 3% 3% 5% 0%;
  }

  .header__btn {
    margin-top: 15%
  }

  .header__area p {
    margin: 1% 7% 1%;
    font-size: 20px;
  }

  .header__area img {
    max-width: 800px;
    padding-right: 40px;
    padding-left: 0;
  }
}

/******************************SOLUTIONS*****************************/

section .solution__area {
  background-color: var(--bg);
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

@media (min-width: 768px) {
  section .solution__area {
    padding-bottom: 1%;
  }
}

.solution__area h2 {
  color: var(--dark);
  padding: 10%;
  text-align: initial;
}

@media (min-width: 768px) {
  .solution__area h2 {
    padding: 9% 10% 5% 15%;
  }
}

.solution__area h2 span {
  border: solid 1px var(--btn_or);
  border-radius: 60%;
  padding: 0.1rem;
  margin: 0rem;
}

.solution__area p {
  margin: 5% 10% 10%;
  padding-bottom: 1rem;
  color: var(--grey);
}

@media (min-width: 768px) {
  .solution__area p {
    font-size: 20px;
    margin: 5%;
  }
}

.solution__area img {
  max-width: 80%;
  padding: 0% 10%;
}

.solution__area .solution__btn {
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .solution__area .solution__btn {
    margin: 5%;
  }
}

@media (min-width: 1024px) {
  .solution__area {
    display: flex;
    justify-content: space-around;
  }

  .solution__area h2 {
    padding: 5% 1% 2% 5%;
  }

  .solution__area p {
    font-size: 20px;
    margin: 2% 5%;
    width: 50%;
  }

  .solution__btn {
    margin: 2%;
    padding: 0.8rem 2.5rem;
    width: 40%;
  }

  .solution__area img {
    width: 900px;
    margin-left: 5%;

  }
}

/******************************SERVICES*****************************/
.services {
  background-color: var(--white);
}

.service__box {
  margin: 10%;
  padding: 0.5%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .service__box {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.service__box:hover {
  background-color: var(--bg);
  -webkit-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
  -moz-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
  box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
}

.service__box .fas {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.service__box .fa-chart-line {
  color: var(--icon_r);
  background-color: var(--icon_r_bg);
}

.service__box .fa-bolt {
  color: var(--icon_g);
  background-color: var(--icon_g_bg);
  padding: 0.5rem 0.2rem 0.5rem 0.8rem;
}

.service__box .fa-tag {
  color: var(--icon_y);
  background-color: var(--icon_y_bg);
}

.service__box p {
  color: var(--dark);
  text-align: justify;
  color: var(--grey);
}

.service__box a {
  color: var(--dark);
  text-decoration: none;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1024px) {
  .services {
    display: flex;
    justify-content: space-between;
    margin: 1% 10%;
  }

  .service__box {
    margin: 3% 2% 0% 3%;
  }

  .service__box:first-child {
    margin: 3% 2% 0% 0%;
  }
}

/******************************CHOOSE US*****************************/

.choose {
  background-color: var(--bg);
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.choose_box {
  margin: 0.5%;
  border-radius: 7px;
  padding-bottom: 1rem;
}

.choose_box:hover {
  background-color: var(--white);
  -webkit-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
  -moz-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
  box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
}

.choose__text h2 {
  margin: 10%;
  padding-top: 20%;
  text-align: center;
}

@media (min-width: 768px) {
  .choose__text h2 {
    padding-top: 10%;
    margin-top: 5%;
  }
}

.choose__text h2 span {
  border: solid 1px var(--btn_or);
  border-radius: 60%;
  padding: -1rem;
  margin: 0rem;
}

.choose__text p {
  margin: 0% 10% 10%;
  text-align: center;
  color: var(--grey);
}

@media (min-width: 768px) {
  .choose__text p {
    margin-bottom: 5%;
  }
}

.choose_box img {
  max-width: 80%;
  padding: 0% 10%;
}

.choose_box h2 {
  font-size: 22px;
  text-align: center;
  margin-top: 0.5%;
}

@media (min-width: 768px) {
  .choose_box h2 {
    font-size: 35px;
  }
}

.choose_box p {
  text-align: center;
  color: var(--grey);
  margin: 0% 5%;
}

@media (min-width: 768px) {
  .choose_box p {
    margin: 5% 5% 10%;
  }
}

.choose__btn {
  text-align: center;
  margin: 2rem 0rem 2rem;
}

@media (min-width: 1024px) {
  .box__area {
    display: flex;
    justify-content: space-around;
  }

  .choose__text h2 {
    margin: 1%;
    padding-top: 8%;
    padding-bottom: 2%;
  }

  .choose_box h2 {
    font-size: 30px;
  }

  .btn__orange {
    padding: 0.8rem 2rem;
  }

  .Keyres {
    margin-bottom: 26%;
  }
}

/******************************FOOTER*****************************/
.footer__social {
  border-bottom: solid 1px var(--btn_or);
}

.footer__social img {
  width: 30%;
  margin: 10% 35% 0%;
}

.footer__social p {
  margin: 5% 10.5% 20% 10.5%;
  color: var(--grey);
  text-align: center;
}

@media (min-width: 768px) {
  .footer__social img {
    width: 18%;
    margin-left: 41%;
  }

  .footer__social p {
    margin: 2% 10% 5%;
    font-size: 25px;
  }
}

.footer_icons {
  margin: 5% 15%;
  display: flex;
  justify-content: space-between;
}

.footer__social .footer_icons i {
  color: var(--grey);
  text-align: center;
  padding-top: 0.32px;
}

.footer__social .footer_icons i:hover {
  color: var(--bg);
  background-color: var(--btn_or);
  width: 24px;
  height: 21px;
  border-radius: 50%;
  padding-top: 0.3rem;
}

.footer__company {
  align-items: center;
}

@media (min-width: 768px) {
  .footer__company {
    margin-top: 5%;
  }
}

.footer__h3 {
  color: var(--dark);
  text-align: center;
  margin-top: 10%;
}

@media (min-width: 768px) {
  .footer__h3 {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.footer_list ul {
  color: var(--btn_or);
  font-size: 15px;
  margin-top: 5%;
  padding-left: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer_list ul li {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
  .footer_list ul {
    font-size: 20px;
    margin-top: 2%;
    padding-left: 20%;
  }
}

.footer_list ul li {
  margin-top: 10%;
}

.footer_list ul span {
  color: var(--grey);
}

.footer__contact .footer_list ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 13%;
  margin-bottom: 10%;
  line-height: 10%;
  list-style: none;
}

.footer_list li>span {
  color: var(--dark);
  font-weight: bold;
}

.footer__contact ul li:last-child {
  color: var(--dark);
}

.footer_list li a {
  text-decoration: none;
  color: var(--grey);
}


@media (min-width: 1024px) {
  .footer__area {
    display: flex;
    justify-content: space-between;
    margin: 3% 1%;
    padding: 0% 10% 0% 5%;
  }

  .footer__company {
    margin-top: 0%;
  }

  .footer__social {
    max-width: 20%;
    border-bottom: none;
  }

  .footer__social img {
    width: 45%;
    margin: 5% 0% 7% 26%;
  }

  .footer_list ul {
    display: block;
    margin-top: 3rem;
  }

  .footer_list ul li {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .footer_list ul:last-child {
    padding-left: 6%;
    margin-left: 0%;
  }

  .footer__contact li {
    padding-top: 2rem;
  }

  /* .footer__social .footer_icons i:hover {
    width: 44px;
    height: 38px;
    padding-top: 1.5%;
}*/
}

.copy {
  border-top: solid 1px var(--btn_or);
}

.copy p {
  color: var(--grey);
  text-align: center;
}

.copy p span {
  color: var(--btn_or);
}

/*****************SERVICES****************************/

.need__area H1,
p {
  font-size: 20px;
  margin: 10%;
}

.need__box {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}

.need__box i {
  color: var(--icon_r);
  background-color: var(--icon_r_bg);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 22px;
  padding-left: 17px;
  padding-top: 15px;
}

.need__box .fa-envelope {
  color: var(--icon_g);
  background-color: var(--icon_g_bg);
}

.need__box .fa-chart-pie {
  color: var(--icon_y);
  background-color: var(--icon_y_bg);
}

.need__box .fa-chart-line {
  color: var(--icon_y);
  background-color: var(--icon_y_bg);
}

.need__box .fa-bug {
  color: var(--icon_g);
  background-color: var(--icon_g_bg);
}

.need__box .fa-mobile-alt {
  color: var(--blue);
  background-color: var(--blue__bg);
}

.need__text {
  margin-left: 2%;
}

.need__box h3,
p {
  font-size: 15px;
  margin: 5%;
}

@media (min-width: 768PX) {
  .need__area H1 {
    font-size: 35PX;
  }

  .need__area P {
    font-size: 25PX;
    margin: 0% 10% 10%;
  }

  .need__box {
    border: solid 2px var(--grey_clear);
    padding: 1rem;
  }

  .need__box i {
    width: 56px;
    height: 56px;
    font-size: 35px;
    padding-left: 22px;
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  .need__area H1 {
    margin: 5% 0% 5% 7%;
    font-size: 30px;
  }

  .need__area P {
    font-size: 20PX;
    margin-bottom: 0%;
    margin-left: 7%;
  }

  .need__box {
    max-width: 60%;
    margin-left: 18%;
  }
}

  /**Plans**/

  .plans__area {
    max-width: 100%;
    padding: 10%;
    background-color: var(--bg);
  }

  .plans__area--header h2,
  .plans__area--header p {
    text-align: center;
  }

  .plans__area--box {
    width: 60%;
    height: 280px;
    margin: 0% 12%;
    padding: 5%;
    border-radius: 20px;
  }

  .plans__area--box:hover {
    background-color: var(--white);
    -webkit-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
    -moz-box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
    box-shadow: 13px 51px 128px -52px rgba(38, 38, 45, 0.35);
  }

  .plans__area--box h3,
  .plans__area--box p {
    text-align: center;
    margin-left: 5%;
    line-height: 1.5rem;
  }

  .plans__area--beginer {
    color: var(--btn_or);
  }

  .plans__area--price span {
    font-size: 50px;
    font-weight: 700;
  }

  .plans__area--btn {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .plans__area--btn .btn__clear {
    color: var(--btn_or) !important;
    font-weight: 400;
    background-color: var(--icon_r_bg);
  }

  .plans__area--btn .btn__clear:hover {
    color: var(--white) !important;
    background-color: var(--btn_or);
  }

  @media (min-width: 768px) {
    .plans__area {
      padding-bottom: 5%;
      padding-top: 5%;
    }

    .plans__area--header h2 {
      font-size: 40px;
    }

    .plans__area--header p {
      font-size: 30px;
      margin-bottom: 0%;
    }

    .plans__area--box {
      padding: 2% 10% 30% 10%;
      margin: 5% 10% 5% 10%;
    }

    .plans__area--box:first-of-type {
      padding: 1% 10% 20%;
    }

    .plans__area--box h3 {
      font-size: 35px;
    }

    .plans__area--box p {
      font-size: 30px;
      line-height: 2.5rem;
    }

    .plans__area--btn {
      max-width: 150%;
      margin: 18% 5% 15% 0%;
    }

    .btn__orange {
      margin: 20% 5% 0% 15%;
    }
  }

  @media (min-width: 1024px) {
    .plans__area {
      padding-bottom: 5%;
      padding-top: 3%;
    }

    .plans__area--boxes {
      display: flex;
      justify-content: space-evenly;
      max-width: 90%;
    }

    .plans__area--box:first-of-type {
      margin-left: 10%;
      padding: 2% 7% 30% 7%;
    }

    .plans__area--box {
      margin: 2%;
      padding: 2% 7% 30% 7%;
    }

    .plans__area--header h2 {
      font-size: 30px;
    }

    .plans__area--header p {
      font-size: 20px;
      margin-bottom: 0%;
    }

    .plans__area--btn {
      width: 200px;
      margin-top: 30%;
    }

    .btn__orange {
      font-size: 15px;
      padding: 10px 60px;
    }
  }

  /**CountDown**/

  .countdown {
    border: 2px solid var(--grey_clear);
    margin: 10%;
    padding-left: 5%;
  }

  #countdown__area ul {
    list-style: none;
    font-size: 50px;
    padding-left: 20%;
  }

  #countdown__area li {
    font-family: 'Oswald', sans-serif;
    color: var(--grey);
    font-weight: 700;
  }

  #countdown__area li span {
    font-size: 60px;
    display: block;
  }

  #countdown__area i {
    font-size: 20px;
    margin-left: 25%;
    color: var(--icon_r);
  }

  #countdown__area i:nth-child(4) {
    color: var(--icon_g);
  }

  #countdown__area i:nth-child(5) {
    color: var(--icon_g);
  }

  #countdown__area i:nth-child(6) {
    color: var(--icon_y);
  }

  @media (min-width: 768px) {
    .countdown {
      border: none;
    }

    #countdown__area ul {
      padding-left: 10%;
      font-size: 30px;
    }

    #countdown__area ul li {
      margin: 5% 0%;
      border-bottom: solid 1px var(--btn_or);
    }

    .countdown li {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    #countdown__area i {
      display: none;
    }

    #countdown__area li span {
      font-size: 40px;
    }
  }

  /**Speed**/

  .speed__area {
    max-width: 100vw;
    max-height: 100%;
    border-top: solid 1px var(--btn_or);
    background-color: var(--white);
  }

  .speed__area h2 {
    font-size: 20px;
    color: var(--dark);
    margin: 10%;
  }

  .speed__area span {
    border: solid 1px var(--btn_or);
    border-radius: 60%;
    padding: .1rem;
    margin: 0rem;
  }

  .speed__area p {
    color: var(--grey);
    margin: 10% 10% 12%;
  }

  .speed__area img {
    max-width: 80%;
    padding: 0% 10%;
  }

  .speed__area .speed__btn {
    text-align: center;
    padding-bottom: 1rem;
  }

  .speed__area .speed__btn input {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--grey_clear);
    height: 30px;
  }

  .speed__area .speed__btn input:nth-child(1) {
    width: 37%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 3%;
  }

  .speed__area .speed__btn input:nth-child(2) {
    margin-bottom: 10%;
    width: 38%;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 2%;

  }


  @media (min-width: 768px) {
    .speed__area h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 5%;
    }

    .speed__area p {
      font-size: 25px;
      margin-top: 0%;

    }

    .speed__area .speed__btn {
      padding-bottom: 8%;
    }
  }

  /**Desktop*/
  @media (min-width: 1024px) {
    .speed__area {
      display: flex;
      justify-content: space-around;
    }

    .speed__text {
      margin: 1% 1%;
      padding: 5% 5% 1%;
    }

    .speed__area h1 {
      font-size: 40px;
    }

    .speed__img {
      max-width: 50%;
      margin: 3% 3% 5% 0%;
    }

    .speed__btn {
      margin-top: 20%
    }
  }

  /*****************TEAM****************************/
  .team__area {
    max-width: 100%;
    /*display: flex;*/
    overflow: auto;
  }

  .team__area h2,
  .team__area p {
    text-align: center;
    line-height: 20px;
  }

  .team__box {
    width: 50%;
    margin: 10% 5% 10% 22%;
    ;
    padding: 5%;
    border: solid 1px var(--grey_clear);
  }

  .team__img img {
    width: 60%;
    border-radius: 50%;
    margin-left: 20%;
  }

  .team__text {
    margin-left: 25%;
  }

  .team__text h3 {
    color: var(--dark);
    text-align: center;
    margin-right: 25%;
  }

  .team__text p {
    margin-bottom: 10%;
    color: var(--dark);
    margin-right: 30%;
  }

  .team__icons i {
    color: var(--dark);
    text-align: center;
    padding-top: 0.32px;
    margin: 5% 5% 5% 2%;
  }

  .team__icons i:hover {
    color: var(--bg);
    background-color: var(--btn_or);
    width: 24px;
    height: 21px;
    border-radius: 50%;
    padding-top: 0.3rem;
  }

  @media (min-width: 768px) {
    .team__area p {
      font-size: 25px;
      line-height: 35px;
    }

    .team__text {
      margin-left: 20%;
    }

    .team__text h3 {
      font-size: 35px;
    }

    .team__text p {
      font-size: 25px;
      margin-left: 15%;
    }

    .team__icons i {
      font-size: 25px;
      padding-top: 0.32px;
      margin-left: 5%;
    }

    .team__icons i:hover {
      width: 35px;
      height: 32px;
      padding-top: 0.3rem;
    }
  }

  @media (min-width: 1024px) {
    .team__area h2 {
      font-size: 35px;
    }

    .team__area p {
      font-size: 25px;
    }

    .team__boxes {
      display: flex;
      justify-content: space-evenly;
    }

    .team__box {
      max-width: 20%;
      margin: 5%;
    }

    .team__text h3 {
      font-size: 30px;
    }

    .team__text p {
      font-size: 20px;
      margin-left: 5%;
    }

    .team__icons i {
      font-size: 15px;
    }

    .team__icons i:hover {
      width: 23px;
      height: 20px;
    }
  }




  /* ==========================================================================
   Helper classes
   ========================================================================== */

  /*
 * Hide visually and from screen readers
 */

  .hidden,
  [hidden] {
    display: none !important;
  }

  /*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
 * Hide visually and from screen readers, but maintain layout
 */

  .invisible {
    visibility: hidden;
  }

  /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

  @media print {

    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " ("attr(href) ")";
    }

    abbr[title]::after {
      content: " ("attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
